//- Mobile: 375px
//- Desktop: 1440px

//cores
///primarias
$laranja: hsl(25, 97%, 53%);

///secundarias
$branco: hsl(0, 0%, 100%);
$cinza-claro: hsl(217, 12%, 63%);
$cinza: hsl(216, 12%, 54%);
$azul-escuro: hsl(213, 19%, 18%);
$azul-muito-escuro: hsl(216, 12%, 8%);

//tamanho da fonte
$tamanho-da-fonte: 15px;

//fonte 400 ou 700
$fonte: 'Overpass', sans-serif;